button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
  width: 50dvh;
  height: 50dvh;
  perspective: 250dvh;
  margin: 25dvh auto 0;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.face > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.face .result {
  z-index: 2;

  display: table; 
}

.result p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;  
  font-size: 40dvh;
}

.x-result{
  color: salmon;
  background-color: rgba(250, 128, 114, 0.1);
  box-shadow: inset 0 0 0 2dvh salmon;
}

.o-result{
  color: skyblue;
  background-color: rgba(135, 207, 235, 0.1);
  box-shadow: inset 0 0 0 2dvh skyblue;
}

.square {
  background: #fff;
  font-size: 10dvh;
  border: #000000 solid 0.01dvh;
  font-weight: bold;
  text-align: center;
}

.face .board {
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.top {
  transform: rotateX(90deg) translateZ(25dvh);
}
.bottom {
  transform: rotateX(-90deg) translateZ(25dvh);
}

.right {
  transform: rotateY(90deg) translateZ(25dvh);
}
.left {
  transform: rotateY(-90deg) translateZ(25dvh);
}

.front {
  transform: rotateX(0deg) translateZ(25dvh);
}
.back {
  transform: rotateX(-180deg) translateZ(25dvh);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 10s infinite linear;
}
