/* Remove Buttom Formatting */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  background-color:#faedcb;
}

.container {
  width: 40dvh;
  height: 40dvh;
  perspective: 200dvh;
  margin: 25dvh auto 0;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  overflow:hidden
}

.face > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  overflow:hidden
}

.face .board {
  z-index: 1;

  display: grid;
  width: 100%;
  height: 100%;
}

.face .result {
  z-index: 2;

  display: table; 
}

.result p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;  
  font-size: 32dvh;
}

.x-result{
  color: #ff7982;
  background-color: #ff798225;
  box-shadow: inset 0 0 0 2dvh #ff7982;
}

.o-result{
  color: #6ebefe;
  background-color: #6ebefe25;
  box-shadow: inset 0 0 0 2dvh #6ebefe;
}

.draw-result{
  color: #9d9d9d;
  background-color: #7d7d7d25;
  box-shadow: inset 0 0 0 2dvh #9d9d9d;
}

.square {
  background: #ffffff;
  border: #3b3b3b solid 0.01dvh;
  font-weight: bold;
  text-align: center;
  color: #3b3b3b;
}

/* Rotation Animation */

.top {
  transform: rotateX(90deg) translateZ(20dvh);
}
.bottom {
  transform: rotateX(-90deg) translateZ(20dvh);
}

.right {
  transform: rotateY(90deg) translateZ(20dvh);
}
.left {
  transform: rotateY(-90deg) translateZ(20dvh);
}

.front {
  transform: rotateX(0deg) translateZ(20dvh);
}
.back {
  transform: rotateX(-180deg) translateZ(20dvh);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(1080deg) rotateY(720deg);
  }
}
.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 0s infinite linear;
}
